# Python Crash Course for Machine Learning

This notebook will guide you through essential Python basics and concepts that are foundational for machine learning:

* Basic Data Types

  * Numbers
  * Strings
  * Lists
  * Dictionaries
  * Booleans
  * Tuples
  * Sets
* Control Flow

  * if, elif, else Statements
  * for Loops
  * while Loops
* Functions and Lambda Expressions
* List Comprehensions
* Working with Modules (like NumPy and Pandas)
* Introduction to Data Structures for ML

<div style="text-align: center;">
  <a href="https://colab.research.google.com/github/MinooSdpr/Machine-Learning-101/blob/main/Session%2001/Session%2001_2%20-%20Python%20Crash%20Course.ipynb">
    <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab" />
  </a>
  &nbsp;
<a href="https://github.com/MinooSdpr/Machine-Learning-101/blob/main/Session%2001/Session%2001_2%20-%20Python%20Crash%20Course.ipynb" target="_blank">
    <img src="https://img.shields.io/badge/Open%20in-GitHub-black?logo=github" alt="Open In GitHub"/>
</a>

</div>


---

## Data Types

### Numbers and Basic Arithmetic

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

## Variable Assignment

In Python, you can store values in variables. Variable names should start with a letter or underscore and must not start with a number or contain special characters.

In [8]:
my_var = 10

x = 5
y = 7

z = x + y
print(z)  

x = 100
print(x)

12
100

---

## Strings

Strings are used to represent text data. You can define them using single (`'`) or double (`"`) quotes.

In [9]:
str1 = 'Hello'
str2 = "World"


quote = "She said, 'Hello!'"


print(str1)
print(str2)
print(quote)


name = 'Alice'
age = 30
print("My name is {} and I am {} years old.".format(name, age))


print(f"My name is {name} and I am {age} years old.")

Hello
World
She said, 'Hello!'
My name is Alice and I am 30 years old.
My name is Alice and I am 30 years old.

### Lists

In [10]:
features = [5.1, 3.5, 1.4, 0.2]  # Example: Iris flower features
labels = ['setosa', 'versicolor', 'virginica']

features.append(0.5)
print(features)

print(features[0])   
print(features[-1])  

# Slicing
print(features[:2]) 

# Nested lists (e.g., dataset samples)
dataset = [
    [5.1, 3.5, 1.4, 0.2],
    [4.9, 3.0, 1.4, 0.2]
]
print(dataset[0][2])

[5.1, 3.5, 1.4, 0.2, 0.5]
5.1
0.5
[5.1, 3.5]
1.4

### Dictionaries

In [11]:
d = {'key1':'item1','key2':'item2'}

In [12]:
d

{'key1': 'item1', 'key2': 'item2'}

In [13]:
params = {'learning_rate': 0.01, 'n_estimators': 100}
print(params['learning_rate'])

params['max_depth'] = 5
print(params)

0.01
{'learning_rate': 0.01, 'n_estimators': 100, 'max_depth': 5}

### Booleans

In [14]:
is_trained = False
print(is_trained)

accuracy = 0.92
print(accuracy > 0.90)  # True

False
True

### Tuples

In [15]:
image_shape = (224, 224, 3)
print(image_shape[0])

224

In [16]:
image_shape[0] = 32

TypeError: 'tuple' object does not support item assignment

### Sets

In [17]:
{1,2,3}

{1, 2, 3}

In [18]:
labels = ["cat", "dog", "cat", "mouse", "dog"]
unique_labels = set(labels)
print(unique_labels)

{'cat', 'mouse', 'dog'}

## Comparison Operators

In [19]:
1 > 2

False

In [20]:
1 < 2

True

In [21]:
1 >= 1

True

In [22]:
1 <= 4

True

In [23]:
1 == 1

True

In [24]:
'hi' == 'bye'

False

## Logic Operators

In [25]:
(1 > 2) and (2 < 3)

False

In [26]:
(1 > 2) or (2 < 3)

True

In [27]:
(1 == 2) or (2 == 3) or (4 == 4)

True

In [28]:
print((5 > 3) and (3 < 2))
print((5 > 3) or (3 < 2))

False
True

## if,elif, else Statements

In [29]:
accuracy = 0.88

if accuracy > 0.90:
    print("Great model!")
elif accuracy > 0.80:
    print("Good model, but could improve")
else:
    print("Needs work")

Good model, but could improve

## for Loops

In [30]:
seq = [1,2,3,4,5]

In [31]:
for item in seq:
    print(item)

1
2
3
4
5

In [32]:
# For loop
for epoch in range(3):
    print(f"Epoch {epoch+1} training...")

Epoch 1 training...
Epoch 2 training...
Epoch 3 training...

## while Loops

In [33]:
loss = 1.0
while loss > 0.1:
    loss *= 0.5
    print(f"Loss: {loss:.4f}")

Loss: 0.5000
Loss: 0.2500
Loss: 0.1250
Loss: 0.0625

## list comprehension

In [34]:
data = [1, 2, 3, 4]
squared = [x**2 for x in data]
print(squared)

[1, 4, 9, 16]

## functions

In [35]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [36]:
my_func

In [37]:
my_func()

default

In [38]:
my_func('new param')

new param

In [39]:
my_func(param1='new param')

new param

In [40]:
def scale_features(features, factor=0.1):
    """Scale numerical features by a given factor."""
    return [f * factor for f in features]

print(scale_features([10, 20, 30]))

[1.0, 2.0, 3.0]

## Lambda, Map & Filter

In [41]:
def times2(var):
    return var*2

In [42]:
times2(2)

4

In [43]:
lambda var: var*2

In [44]:
double = lambda x: x * 2
print(double(5))

features = [1, 2, 3]
print(list(map(lambda x: x**2, features)))

print(list(filter(lambda x: x > 1, features)))

10
[1, 4, 9]
[2, 3]

## methods

In [45]:
st = 'hello my name is Sam'

In [46]:
st.lower()

'hello my name is sam'

In [47]:
st.upper()

'HELLO MY NAME IS SAM'

In [48]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [49]:
tweet = 'Go Sports! #Sports'

In [50]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [51]:
tweet.split('#')[1]

'Sports'

In [52]:
lst = [1,2,3]

In [53]:
lst.pop()

3

In [54]:
lst

[1, 2]

In [55]:
'x' in [1,2,3]

False

In [56]:
'x' in ['x','y','z']

True

In [57]:
path = "data/train.csv"
print(path.endswith(".csv"))

scores = [0.8, 0.9, 0.95]
print(max(scores))

params = {'lr': 0.01, 'batch_size': 32}
print(params.keys())

True
0.95
dict_keys(['lr', 'batch_size'])

# Great Job!

<div style="text-align: right;">
    <a href="https://github.com/MinooSdpr/Machine-Learning-101/blob/main/Session%2001/Session%2001_3%20-%20Python%20Crash%20Course%20Exercises.ipynb" style="
        padding: 8px 16px;
        background-color: #008CBA;
        color: white;
        text-decoration: none;
        border-radius: 4px;
        font-weight: bold;">
        Next ➡
    </a>
</div>